{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>データの追加だけ行うページ</h2>
    <form action="/add_ranking" method="POST">
        <label for="name">product name</label>
        <input name="item_name"></input>

        <label for="name">place</label>
        <input name="place"></input>

        <label for="name">ranking category</label>
        <input name="ranking_category">

        <label for="name">image url</label>
        <input name="item_image"></input>

        <button type="submit" class="btn btn-primary">add item</button>
    </form>
</div>
{% endblock %}
