{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <table class="table">
        <tr>
            <th class="col" scope="col"> ランキング名 </th>
        </tr>
        {% for item_category in item_categories %}
        <tr>
            <td scope="row">
                <button class="col card", onclick="location.href='{{ url_for(game_create_url, item_category_id=item_category.id) }}'">
                    {{ item_category.item_category_name }}
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}